.h1,
.h2,
.h3,
.paragraph,
.blockquote {
    display: block;
    min-height: 1.1em;
    white-space: pre;
    margin-bottom: 0.5rem;
}

.h1 {
    font-weight: bold;
    font-size: x-large;
}

.h2 {
    font-weight: bold;
    font-size: large;
}

.h3 {
    font-weight: bold;
}

.blockquote {
    padding: 10px;
    border-left: 2px solid grey;
}
